.container {
    margin-top: 10px;
}

.start {
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to left, rgba(51, 13, 220, 1), rgba(181, 71, 255, 1) , rgba(243, 136, 49, 1)) border-box;
    width: 69%;
    height: 100px;
    border-right: 2px solid rgba(51, 13, 220, 1);
    border-bottom: 2px solid transparent;
    border-bottom-right-radius: 10px;
    margin-left: 13.4%;
    position: relative;
    
}

.circle {
    width: 14px;
    height: 14px;
    background-color: rgba(50, 13, 220, 1);
    border-radius: 50%;
    position: absolute;
    right: -8;
    top: -10;
}

.middle {
    position: relative;

    width: 70%;
    height: 100px;
    border-left: 2px solid rgba(243, 136, 49, 1);
    border-top-left-radius: 10px;
    margin-left: 13.1%;
    margin-top: -3px;
    padding: 10px;

}




.circleend {
    width: 14px;
    height: 14px;
    background-color: rgba(243, 136, 49, 1);
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    left: -8px;
}

@media (max-width : 576px) {
    .start {
        width: 40%;
        margin-left: 25%;
    }

    .middle {
        margin-left: 24%;
    }

    .container {
        margin: 50px 0px;
    }
}